.main-manage-staff {
    padding-top: 1%;
    margin-left: 205px
}

.wrap-grid {
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    margin-top: 2%;
    margin: 2% 0% 0% 0%;

    &.manage-staff {
        height: 60vh;
    }
}

.card {
    &.staff-infor {
        height: 10rem;
        width: 11rem;
        margin: 0% 0% 1% 1%;
    }

    &:hover {
        cursor: pointer;
    }

    &.active {
        background-color: skyblue;
    }
}

.form-group-staff {
    width: 40%;
}

.button-edit-delete {
    width: 100%;
}
