.button-new-order {
    top: 2%;
}

.form-create-bill {
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-40%, -20%);
    width: 80%;
    background-color: rgba($color: white, $alpha: 0.9);
}

.card-title-name-table {
    text-align: center;
}

.image-table {
    &:hover {
        cursor: pointer;
    }

    &.ready {
        background-color: yellowgreen;
    }

    &.busy {
        background-color: yellow;
    }
}

.card-risotto {
    width: 150px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block !important;
}